<div class="jumbotron">
    <div class="container">
        <h1>{{title}}</h1>
        <p>Welcome to {{title}}</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <button type="button" class="btn btn-large btn-block btn-success" data-toggle="modal"
            data-target='#createModal'>Add</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="table-responsive">
            <table id="productsTable" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Color</th>
                        <th>Size</th>
                        <th>Materials</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>

{{!-- Create Modal --}}
<div class="modal fade" id="createModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add product</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="addProductTitle">Title:</label>
                        <input type="text" class="form-control" id="addProductTitle" name="addProductTitle" placeholder="Enter name of product">
                    </div>
                    <div class="form-group">
                        <label for="addProductDescription">Description:</label>
                        <textarea class="form-control" id="addProductDescription" name="addProductDescription" rows="3" placeholder="Enter description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="addProductPrice">Price:</label>
                        <input type="text" class="form-control" id="addProductPrice" name="addProductPrice" placeholder="Enter price">
                    </div>
                    <div class="form-group">
                        <label for="addProductColor">Color:</label>
                        <input type="text" class="form-control" id="addProductColor" name="addProductColor" placeholder="Enter color of product">
                    </div>
                    <div class="form-group">
                        <label for="">Size:</label>
                        <label class="checkbox-inline">
                            <input id="addSizeXS" name="addsize" type="checkbox" value="XS"> XS
                        </label>
                        <label class="checkbox-inline">
                            <input id="addSizeS" name="addsize" type="checkbox" value="S"> S
                        </label>
                        <label class="checkbox-inline">
                            <input id="addSizeM" name="addsize" type="checkbox" value="M"> M
                        </label>
                        <label class="checkbox-inline">
                            <input id="addSizeL" name="addsize" type="checkbox" value="L"> L
                        </label>
                        <label class="checkbox-inline">
                            <input id="addSizeXL" name="addsize" type="checkbox" value="XL"> XL
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="addProductMaterials">Materials:</label>
                        <input type="text" class="form-control" id="addProductMaterials" name="addProductMaterials" placeholder="Enter materials">
                    </div>
                    <div class="form-group">
                        <label for="addProductCountry">Country:</label>
                        <input type="text" class="form-control" id="addProductCountry" name="addProductCountry" placeholder="Enter country">
                    </div>
                    <div class="form-group">
                        <label for="">Availability:</label>
                        <label class="radio-inline">
                            <input id="addTrue" name="addavailability" type="radio"> Yes
                        </label>
                        <label class="radio-inline">
                            <input id="addFalse" name="addavailability" type="radio"> No
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="">Season:</label>
                        <label class="checkbox-inline">
                            <input id="addSeasonWinter" name="addseason" type="checkbox" value="Winter"> Winter
                        </label>
                        <label class="checkbox-inline">
                            <input id="addSeasonSpring" name="addseason" type="checkbox" value="Spring"> Spring
                        </label>
                        <label class="checkbox-inline">
                            <input id="addSeasonSummer" name="addseason" type="checkbox" value="Summer"> Summer
                        </label>
                        <label class="checkbox-inline">
                            <input id="addSeasonAutumn" name="addseason" type="checkbox" value="Autumn"> Autumn
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="addProductImage">Image URL:</label>
                        <input type="text" class="form-control" id="addProductImage" name="addProductImage" placeholder="Enter image URL">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="productCreate">Save</button>
            </div>
        </div>
    </div>
</div>

{{!-- Edit Modal --}}
<div class="modal fade" id="editModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Edit product</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="productTitle">Title:</label>
                        <input type="text" class="form-control" id="productTitle" name="productTitle" placeholder="Enter name of product">
                    </div>
                    <div class="form-group">
                        <label for="productDescription">Description:</label>
                        <textarea class="form-control" id="productDescription" name="productDescription"
                            rows="3" placeholder="Enter description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="productPrice">Price:</label>
                        <input type="text" class="form-control" id="productPrice" name="productPrice" placeholder="Enter price">
                    </div>
                    <div class="form-group">
                        <label for="productColor">Color:</label>
                        <input type="text" class="form-control" id="productColor" name="productColor" placeholder="Enter color of product">
                    </div>
                    <div class="form-group">
                        <label for="">Size:</label>
                        <label class="checkbox-inline">
                            <input id="sizeXS" name="size" type="checkbox" value="XS"> XS
                        </label>
                        <label class="checkbox-inline">
                            <input id="sizeS" name="size" type="checkbox" value="S"> S
                        </label>
                        <label class="checkbox-inline">
                            <input id="sizeM" name="size" type="checkbox" value="M"> M
                        </label>
                        <label class="checkbox-inline">
                            <input id="sizeL" name="size" type="checkbox" value="L"> L
                        </label>
                        <label class="checkbox-inline">
                            <input id="sizeXL" name="size" type="checkbox" value="XL"> XL
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="productMaterials">Materials:</label>
                        <input type="text" class="form-control" id="productMaterials" name="productMaterials" placeholder="Enter materials">
                    </div>
                    <div class="form-group">
                        <label for="productCountry">Country:</label>
                        <input type="text" class="form-control" id="productCountry" name="productCountry" placeholder="Enter country">
                    </div>
                    <div class="form-group">
                        <label for="">Availability:</label>
                        <label class="radio-inline">
                            <input id="avTrue" name="availability" type="radio"> Yes
                        </label>
                        <label class="radio-inline">
                            <input id="avFalse" name="availability" type="radio"> No
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="">Season:</label>
                        <label class="checkbox-inline">
                            <input id="seasonWinter" name="season" type="checkbox" class="custom-control-input"
                            value="Winter"> Winter
                        </label>
                        <label class="checkbox-inline">
                            <input id="seasonSpring" name="season" type="checkbox" class="custom-control-input"
                            value="Spring"> Spring
                        </label>
                        <label class="checkbox-inline">
                            <input id="seasonSummer" name="season" type="checkbox" class="custom-control-input"
                            value="Summer"> Summer
                        </label>
                        <label class="checkbox-inline">
                            <input id="seasonAutumn" name="season" type="checkbox"
                            value="Autumn"> Autumn
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="productImage">Image URL:</label>
                        <input type="text" class="form-control" id="productImage" name="productImage" placeholder="Enter image URL">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="productSave">Save</button>
            </div>
        </div>
    </div>
</div>

{{!-- {{#extend scripts}} --}}
    {{!-- <script src="/javascripts/client.js"></script> --}}
{{!-- {{/extend}} --}}